!!! 5
html
  head
    block head
      meta(name='viewport',content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
      link(href='./css/bootstrap.min.css',rel='stylesheet')
      link(href='./css/modal.css',rel='stylesheet')
      script(type='text/javascript',src='/js/libs/jquery-1.7.2.min.js')
      title Auth Sample
  body
    block main
      !{body}
