div#root
  div.navbar.navbar-top
    div.navbar-inner(style="position:relative;padding:0 10px;")
      div.nav(style="position:absolute;left:0px;top:0px;width:100%;")
        h4(style="text-align:center;") 会員用ページ
      div.nav.pull-right
        a.logout.btn(href="/logout",style="padding:4px 8px;") ログアウト
  div#main
    h4 ようこそ#{account}さん！
